body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:x-large;
    background-color: rgb(215, 171, 190);
}
main{
background-image: url(pp.jpg); 
}



h1{
    margin: 250px 280px ;
    padding: 40px;
    width: 800px;
    box-shadow:3px 3px 5px rgb(207, 23, 130),-3px -3px 5px rgb(171, 6, 182);
    color: rgb(250, 243, 250);
    background-color: rgb(120, 48, 90);
    text-shadow: 0 0 10px rgb(172, 158, 125);
}

h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    text-shadow: 0 0 10px rgb(193, 27, 116);
}
h3{
  color: rgb(2, 6, 9);
  text-shadow: 0 0 10px rgb(155, 39, 101);
}

.prof-img{
    box-shadow: 0px 0px 10px rgb(172, 7, 78);
    border-radius: 50%;
    width: 170px;
    height: auto;
    border: 0px;
}

.me{
    padding-bottom: 10%;
    padding: 20px;
    text-align:left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:x-large;
}

.pr1{
    font-size: medium;
    margin: 20px auto;
    padding: 20px;
    width: 350px;
    background-color: rgb(222, 199, 199);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    text-align:center;
}

.p1{
    text-align:justify;
}

.btn{
    background-color: rgb(251, 193, 193);
    color: rgb(235, 11, 179);
    cursor: pointer;
    border-radius: 6px;
}
.btn:hover{
    background-color: rgb(110, 67, 100);
}
/*changing cursor color when pressing.*/
.btn:active{
    background-color: rgb(0, 0, 0);
}

.cont{
    outline: 2px solid rgb(235, 11, 179);
    padding: 20px;
    border-radius: 10px;
    color: rgb(11, 12, 12);
    display: inline-block;
}

footer{
    text-align: center;
}