<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
    <style>
    nav{
    width: 220px;
    background-color: aliceblue;
    padding: 2px; 
    }
</style>
</head>
<body>
    <main>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/project">Project</a>
    </nav>
    <h1 align="center">SANJANA's PORTFOLIO</h1>
    <footer>
        <p>&copy; 2025 Sanjana. All rights reserved.</p>
    </footer>
</main>
</body>
</html>