<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Portfolio</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
     <nav>
        <a href="/project">Back</a>
    </nav>
    <section id="projects">
    <div class="pr1">
        <h2>Travel Guidance App</h2>
        <p>This project is a <strong>UI/UX prototype created using Figma</strong> for a mobile travel planning application.
      The app is designed to help users <strong>discover travel destinations</strong>, explore nearby hotels, and
      <strong>calculate the total cost of a trip</strong> — all in one place.
    </p>

    <h3>Key Features:</h3>
    <ul>
      <li><strong>Personalized Travel Recommendations:</strong> Curated destination suggestions based on user interests or location.</li>
      <li><strong>Nearby Hotel Listings:</strong> Browse hotels with images, prices, ratings, and amenities.</li>
      <li><strong>Trip Cost Estimator:</strong> Calculate estimated trip cost based on hotel, days, and transport.</li>
      <li><strong>Online Booking Flow:</strong> User-friendly screens for selecting destinations, viewing itineraries, and booking.</li>
    </ul>
        <a href="https://www.figma.com/design/WnisjcawETUR4FwAGxmkMd/Travel-Guidance-app?node-id=0-1&p=f&t=4pEYM9qON75rH5XO-0" target="_blank">View Project</a>
    </div>  
    </section>
</body>
</html>